html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: Calibre, "San Francisco", "SF Pro Text", Roboto, "Helvetica Neue",
    "Segoe UI", Arial, sans-serif;
  font-weight: 300;
  z-index: 1;
}

body {
  background: #fff;
}

h1 {
  font-family: Calibre, "San Francisco", "SF Pro Text", Roboto, "Helvetica Neue",
    "Segoe UI", Arial, sans-serif;
}

#mobileNav {
  display: none;
}

#mobileNav li {
  font-size: 0.9rem;
}

#navBar {
  text-align: center;
  padding-top: 0.3em;
  padding-right: 2.5em;
  padding-bottom: 1em;
  background-color: white;
  z-index: 2;
}

#navBar li:hover {
  background: radial-gradient(
    ellipse at center,
    rgba(240, 240, 240, 0.589) 20%,
    rgba(255, 255, 255, 0.63) 100%
  );
  transition: 5ms;
  border-radius: 50%;
}

.NavLogo {
  margin-left: -10em;
  padding-right: 20em;
}

.NavLogoH1 {
  font-weight: 999;
  font-size: 1.4em;
}

#navElements li {
  display: inline;
  padding: 1em;
}

#navBar a {
  text-decoration: none;
  color: black;
}

.wrapper {
  display: grid;
  height: 100vh;
  gap: 0.5em;
  grid-template-columns: 1fr 1r 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    " profile aboutPic ."
    "products products products"
    "picWrapper picWrapper picWrapper"
    "contact-me contact-me contact-me"
    "footer footer footer";
  justify-content: center;
  max-width: 2400px;
}

@keyframes profile {
  from {
    transform: translateX(-50px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes aboutPic {
  from {
    transform: translateX(50px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* @keyframes images1 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

@keyframes images2 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images3 {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* @keyframes images4 {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

@keyframes images5 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images6 {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* @keyframes images7 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

@keyframes images8 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images9 {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* @keyframes images10 {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

@keyframes images11 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images12 {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* @keyframes images13 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

@keyframes images14 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images15 {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* @keyframes images16 {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

@keyframes images17 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images18 {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images20 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images21 {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images23 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images24 {
  from {
    transform: translateX(-20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes images26 {
  from {
    transform: translateX(20px);
    opacity: 0.95;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#footer {
  grid-area: footer;
  text-align: center;
  margin-top: 2em;
  padding-bottom: 1em;
}

#footer a {
  text-decoration: none;
  color: black;
}

#products {
  grid-area: products;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 3%;
  margin-left: 3%;
  text-align: center;
  font-weight: 700;
}

#products div {
  display: inline;
  padding: 5%;
}

#profilePic {
  width: 30em;
  grid-area: profilePic;
  background-color: black;
}

#profile {
  grid-area: profile;
}

#aboutPic {
  width: 45em;
  height: 30em;
  grid-area: aboutPic;
  color: black;
}

#aboutPic h1 {
  position: relative;
  margin-top: -60%;
  margin-left: 5%;
  font-size: 2.2em;
  font-weight: 500;
  color: white;
  z-index: 1;
}

#aboutPic p {
  margin-right: 10%;
  z-index: 3;
  margin-left: 10%;
  font-size: 1.4em;
  font-weight: 190;
  font-size: 1.6em;
  color: white;
}

#aboutPic img {
  width: 46em;
  height: 30em;
  background: linear-gradient(0deg, #000000 30%, #ffffff 100%);
}

#picWrapper {
  grid-area: picWrapper;
  margin-top: 0.2em;
}

#images img {
  display: inline-block;
  width: 25em;
  height: 15em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.2em;
}

#images {
  text-align: center;
}

#contact-me {
  display: inline;
  grid-area: contact-me;
  margin: auto;
}

#contact-me h1 {
  color: black;
  text-align: center;
}

#contact-me form {
  color: black;
  text-align: center;
}

.footer {
  display: block;
  color: black;
}
/* Making the navbar stay at the top */

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#contactEmail {
  text-align: center;
}

#contactEmail img {
  width: 3em;
  margin-left: 41.5%;
  margin-right: 41.5%;
  margin-top: 0.5em;
}

#contactEmail img,
p {
  display: block;
}

#contactEmail a {
  text-decoration: none;
  color: black;
}

#contactEmail p {
  margin: 0.7em;
}

/*************************************/
/* Adding media query for screen sizes */

@media (max-width: 1000px) {
  @viewport {
    zoom: 1;
    width: extend-to-zoom;
  }
  /*************************************/
  body {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }

  html {
    zoom: 95%;
  }
  /*************************************/
  .wrapper {
    display: grid;
    height: 100vh;
    gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "profile"
      "aboutPic"
      "products"
      "picWrapper"
      "contact-me"
      "footer";
    justify-content: center;
    margin: 0 auto;
  }

  @keyframes profile {
    from {
      transform: translateX(-50px);
      opacity: 0.95;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images1 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images2 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images3 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images4 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images5 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images6 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images7 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images8 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images9 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images10 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images11 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images12 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images13 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images14 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images15 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images16 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images17 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images18 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images19 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images20 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images21 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images22 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images23 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images24 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images25 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes images26 {
    from {
      transform: translateX(0px);
      opacity: 0.15;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  #products div {
    padding: 2.5%;
  }

  #profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #navElements li {
    /* display: block; */
    padding: 0.3em;
    margin-right: 0.1em;
  }

  .NavLogo {
    margin-left: -0.5em;
    padding-right: 3em;
  }

  #aboutPic img {
    width: 50rem;
    height: 30rem;
  }

  #aboutPic {
    text-align: left;
    width: 100%;
  }

  #aboutPic h1 {
    position: relative;
    margin-top: -11em;
    margin-left: 10%;
    font-size: 2.2em;
    color: white;
    font-weight: 700;
  }

  #aboutPic p {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.4em;
    font-weight: 460;
    color: white;
  }

  #navBar {
    overflow: hidden;
    text-align: center;
    padding-bottom: -7em;
  }

  /* .content {
    padding: 15px;
  } */

  .sticky {
    position: fixed;
    top: 0;
    width: 120%;
    margin: 0;
  }

  /* .sticky + .content {
    padding-top: 10px;
  } */
}

@media (max-width: 1000px) {
  #navBar {
    display: none;
  }

  #mobileNav {
    display: block;
  }

  #profile {
    text-align: center;
    width: 100%;
  }

  #profile img {
    width: 20em;
    background-color: transparent;
  }

  #aboutPic {
    width: 100%;
    height: 30%;

    object-fit: cover;
  }

  #aboutPic h1 {
    margin-top: 0.6em;
    color: black;
  }

  #aboutPic p {
    color: black;
  }

  #aboutPic img {
    display: none;
  }

  #mobileNav h1 {
    display: block;
    position: relative;
    margin-right: 10em;
    font-size: 1.5rem;
    width: 10em;
    height: 3em;
    margin-top: 1.5em;
  }
}

/*************************************/

/* Hover Effect for the images */

#images img:hover {
  filter: brightness(70%);
  box-shadow: #646464;
}

/*************************************/

.side_nav {
  font-family: Calibre, "San Francisco", "SF Pro Text", Roboto, "Helvetica Neue",
    "Segoe UI", Arial, sans-serif;
  width: 200px;
  height: 100vh;
  position: fixed;
  right: -200px;
  top: 0px;
  background: #b6b6b6;
  z-index: 2;
  padding-top: 100px;

  transition: 0.5s;
}

.side_nav ul li {
  text-transform: uppercase;
  color: black;
  list-style: none;
  opacity: 100%;
  margin: 40px;

  width: 100%;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.side_nav ul a {
  color: #fdf8f5;
  text-decoration: none;
  margin-right: 60px;
}

#menu_icon {
  width: 100px;
  margin-top: 10px;
}

.menu-btn {
  position: fixed;
  display: flex;
  right: 30px;

  z-index: 3;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger {
  padding-right: 30px;

  height: 6px;
  background: black;
  /* border-radius: 5px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger::before,
.menu-btn_hamburger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: black;
  /* border-radius: 5px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger::before {
  transform: translateY(-16px);
}

.menu-btn_hamburger::after {
  transform: translateY(16px);
}

/* ANIMATION */

.menu-btn.open .menu-btn_hamburger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu_icon {
  width: 30px;
  position: fixed;
  right: 20px;
  top: 30px;
  z-index: 2;
  cursor: pointer;
}

.menu-btn {
  width: 50px;
  height: 50px;
}

.menu-btn {
  top: 30px;
}
