html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  z-index: 1;
}

h1 {
  font-family: "Quicksand", sans-serif;
}

#navBar {
  text-align: center;
  padding-top: 0.3em;
  padding-right: 2.5em;
  padding-bottom: 1em;
  background-color: white;
  z-index: 2;
}

.NavLogo {
  margin-left: -10em;
  padding-right: 20em;
}

.NavLogoH1 {
  font-weight: 999;
  font-size: 1.4em;
}

#navElements li {
  display: inline;
  padding: 1em;
}

#navBar a {
  text-decoration: none;
  color: black;
}

.wrapper {
  display: grid;
  height: 100vh;
  gap: 0.5em;
  grid-template-columns: 1fr 1r 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    " profile aboutPic ."
    /* ". button ." */
    "picWrapper picWrapper picWrapper"
    "contact-me contact-me .";
  justify-content: center;
  max-width: 2400px;
}

#profilePic {
  width: 30em;
  grid-area: profilePic;
  background-color: black;
}

#profile {
  grid-area: profile;
}

#aboutPic {
  width: 45em;
  height: 30em;
  grid-area: aboutPic;
  color: black;
}

#aboutPic h1 {
  position: relative;
  margin-top: -60%;
  margin-left: 5%;
  font-size: 2.2em;
  font-weight: 300;
  color: white;
}

#aboutPic p {
  margin-right: 10%;
  margin-left: 10%;
  font-size: 1.4em;
  font-weight: 150;
  color: white;
}

#aboutPic img {
  width: 46em;
  height: 30em;
}

/* #button {
  grid-area: button;
  margin-top: 5%;
  margin-left: 3em;
}

#buttonID {
  font-weight: 550;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 1em;
}

#buttonID a {
  text-decoration: none;
  color: black;
} */

#picWrapper {
  grid-area: picWrapper;
  margin-top: 0.2em;
  /* width: 100vh; */
}

#images img {
  display: inline-block;
  width: 25em;
  height: 15em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.2em;
}

#images {
  text-align: center;
}

#contact-me {
  display: inline-block;
  grid-area: contact-me;
  width: 25em;
  height: 15em;

  margin: auto;
}

#contact-me h1 {
  color: black;
  text-align: center;
}

#contact-me form {
  color: black;
  text-align: center;
}

.footer {
  display: block;
  color: black;
}
/* Making the navbar stay at the top */

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*************************************/

/* Hover Effect for the images */

#images img:hover {
  opacity: 50%;
}
