html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  z-index: 1;
}

h1 {
  font-family: "Quicksand", sans-serif;
}

#navBar {
  text-align: center;
  padding-top: 0.3em;
  padding-right: 2.5em;
  padding-bottom: 1em;
  background-color: white;
  z-index: 2;
}

.NavLogo {
  margin-left: -10em;
  padding-right: 20em;
}

.NavLogoH1 {
  font-weight: 999;
  font-size: 1.4em;
}

#navElements li {
  display: inline;
  padding: 1em;
}

#navBar a {
  text-decoration: none;
  color: black;
}

.wrapper {
  display: grid;
  height: 100vh;
  gap: 0.5em;
  grid-template-columns: 1fr 1r 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    " profile aboutPic ."
    "products products products"
    "picWrapper picWrapper picWrapper"
    "contact-me contact-me contact-me";
  justify-content: center;
  max-width: 2400px;
}

#products {
  grid-area: products;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 3%;
  margin-left: 3%;
  text-align: center;
}

#products div {
  display: inline;
  padding: 5%;
}

#profilePic {
  width: 30em;
  grid-area: profilePic;
  background-color: black;
}

#profile {
  grid-area: profile;
}

#aboutPic {
  width: 45em;
  height: 30em;
  grid-area: aboutPic;
  color: black;
}

#aboutPic h1 {
  position: relative;
  margin-top: -60%;
  margin-left: 5%;
  font-size: 2.2em;
  font-weight: 300;
  color: white;
}

#aboutPic p {
  margin-right: 10%;
  margin-left: 10%;
  font-size: 1.4em;
  font-weight: 150;
  color: white;
}

#aboutPic img {
  width: 46em;
  height: 30em;
}

#picWrapper {
  grid-area: picWrapper;
  margin-top: 0.2em;
}

#images img {
  display: inline-block;
  width: 25em;
  height: 15em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.2em;
}

#images {
  text-align: center;
}

#contact-me {
  display: inline;
  grid-area: contact-me;
  margin: auto;
}

#contact-me h1 {
  color: black;
  text-align: center;
}

#contact-me form {
  color: black;
  text-align: center;
}

.footer {
  display: block;
  color: black;
}
/* Making the navbar stay at the top */

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 10px;
}

/*************************************/
/* Adding media query for screen sizes */
@viewport {
  zoom: 1;
  width: extend-to-zoom;
}

@media (max-width: 800px) {
  .wrapper {
    display: grid;
    height: 100vh;
    gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "profile"
      "aboutPic"
      "products"
      "picWrapper"
      "contact-me";
    justify-content: center;
  }

  #products div {
    padding: 2.5%;
  }

  #profile {
    text-align: center;
  }

  #profile img {
    margin: 0;
  }

  #navElements li {
    display: inline;
    padding: 0.3em;
    margin-right: 0.1em;
  }

  .NavLogo {
    margin-left: -0.5em;
    padding-right: 2em;
  }

  #aboutPic img {
    display: block;
    text-align: center;
  }

  #aboutPic {
    text-align: center;
  }
}

@media (max-width: 600px) {
  #profile {
    margin-left: 25%;
  }

  #navElements li {
    font-size: 15px;
    gap: 1em;
  }

  #navElements {
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: -10%;
  }

  #contact-me {
    margin-left: 32%;
  }

  #products {
    margin-left: 25%;
  }

  #aboutPic {
  }

  #aboutPic p {
    margin-left: 35%;
    /* margin-right: 20%; */
  }

  #aboutPic h1 {
    margin-left: 25%;
  }

  #picWrapper img {
    margin-left: 25%;
  }

  .content {
    padding: 15px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 120%;
    margin-left: -25%;
  }

  .sticky + .content {
    padding-top: 10px;
  }
}

/*************************************/

/* Hover Effect for the images */

#images img:hover {
  opacity: 50%;
}
